.product-form {
    margin: 25px;
}

.buttonClass{
    padding: 2px;
    direction: ltr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    alignment: center;
    alignment-baseline: center;

}